/venv
/.idea
/less8/person.json
/less8/quatrain.txt
/less7/.ipynb_checkpoints
/less8/.ipynb_checkpoints
person.json
person.csv
person.xlsx
/less11/__pycache__/
/less13/publication/user.csv
/less12/cash.json
/less13/publication/data
/less14/__pycache__/
